/*shokol tag change hoy*/
*{
 /*color: aqua;*/
}
.mydisplay{
	padding: 25px;
	border:3px solid black;
	display: inline-block;
	/*visibility: hidden;*/
	background-color: brown;
	position: sticky;
	top: 0;
}
.float{
border: 3px solid black;
overflow: auto;
}
#myimage{
float: left;
}
p{
  color: red;
  padding:10px 5px;
  background: black;
}
.fancy{
  font-family: cursive;
  background: red;
  color: green;
}
.plain{
  font-family: Times, serif;
  color: black;
}