#style1{text-align:right;color:red}
.style2{text-align:center;color:blue}
.my_style{text-align:center;color:green!important}
.heading_style{text-align:center;color-white;background:red;padding:30px}